bodelfi.ipynb
cosmic_shear-IMNN (3D).ipynb
cosmic_shear_dark_energy.ipynb
cosmic_shear_dark_energy_marginalized.ipynb
cosmic_shear_map (iPyParallel).ipynb
cosmic_shear_nuisances.ipynb
cosmic_shear_preran_sims-IMNN.ipynb
lotka-volterra.ipynb
shear_map_mpi.ipynb
IMNN.ipynb
.ipynb_checkpoints*
